@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

#root {
  min-width: 100vw;
  font-family: 'Cormorant Garamond', serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: whitesmoke;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

p,
label,
button {
  font-size: 1.3em;
  margin: 8px;
}

/* NAVBAR */
.navbar__item {
  font-size: 1.4em;
  padding: 10px 15px;
}

/* HOME */
.home__logo {
  width: 85vw;
  max-width: 350px;
  margin: 80px auto;
  scale: 1.3;
  place-items: center;
}

.home__create-button {
  font-weight: 800;
  font-size: 1.7em;
}

.home__create-button:hover {
  opacity: 0.9;
  border: 1px solid grey;
}

/* CREATE */

.create__image,
.review__image {
  height: 350px;
  margin-top: 40px;
  border-radius: 15px;
}

.create__name-input {
  margin: 5px auto 10px auto;
  text-align: center;
}

.create__options-list {
  list-style-type: none;
  text-align: left;
  display: inline-block;
}

.create__button {
  margin: 10px 20px;
}

.create__options-list > li > label {
  margin-left: 10px;
}

.create__options-list {
  padding-left: 0;
}

.create__intro-text {
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  overflow: auto;
}

.story_text {
  font-size: 1.4em;
  text-align: left;
  overflow: auto;
}

.create__option-button {
  min-width: 70vw;
  max-width: 70vw;
  margin: 5px auto;
  font-size: 1.2em;
}

.create__option-button--0 {
  animation: fade-in 1s;
}

.create__option-button--1 {
  animation: fade-in 2s;
}

.create__option-button--2 {
  animation: fade-in 3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.create__option-button:hover {
  margin: 5px auto;
  background-color: lightgray;
}

.create__option-button-selected {
  opacity: 0.9;
  border: 1px solid grey;
  background-color: lightgray;
}

.image__story {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* TYPEWRITER */

.Typewriter {
  text-align: left;
  height: 10vh;
  min-height: 250px;
  overflow: auto;
  max-width: 400px;
  margin-top: 40px;
}

.Typewriter__cursor {
  display: none;
}

/* REVIEW */

.review__story-title {
  font-size: 2em;
}

.review__text {
  padding: 15px 15px 30px 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: left;
  height: 30vh;
  overflow: auto;
}

.review__image {
  margin-top: 25px;
  place-items: center;
}

.review__carousel--arrow {
  scale: 1.5;
}

.review__pageNumber {
  margin-bottom: 25px;
}

.review_button-pane {
  display: flex;
  justify-content: space-around;
}

.card-btn-arrow {
  background: linear-gradient(to bottom, #e5c2ff 0%, #eacfff 80%);
}

.bi-caret-right-fill {
  color: white;
}

@supports (transition: all 0.2s ease-in-out) and (transform: scale(1.02)) {
  .review__carousel--arrow {
    transition: all 0.2s ease-in-out;
  }

  .review__carousel--arrow:hover {
    transform: scale(1.15);
  }
}

.card-btn-return {
  background: linear-gradient(to bottom, #ffd1dc 0%, #fff8fa 80%);
}

/* LOADING */
.loading__container {
  padding: 5px;
}

.loading__icon {
  margin: 10px;
  height: 120px;
  width: 120px;
}

.loading__text {
  font-size: 1.2em;
}

/* ABOUT */

.about__title {
  text-align: center;
  margin: 50px auto auto 0;
  font-size: 50px;
  color: #000;
}

.about__divider {
  width: 75px;
  height: 4px;
  background-color: #0DCAF0;
  position: relative;
  margin: 20px auto 60px;
}

.about__members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about__member {
  margin: 20px 15px;
  border-radius: 10px;
  padding: 0;
  height: 400px;
  overflow: hidden;
}

.about__member:hover {
  transform: scale(1.01);
}

.about__member {
  margin: 20px 15px;
  width: 350px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 1s;
}

.about .member:hover {
  transform: scale(1.01);
}

.about__description {
  background-color: #fff;
  width: 350px;
  height: 450px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  transition: all 1s;
}

.about__description:hover {
  background-color: rgba(8, 61, 119, 0.2);
}

.about__image {
  position: absolute;
  top: 0;
  border-radius: 50%;
  border: 3px solid #0DCAF0;
}

.about_name {
  font-size: 2em;
}

.about__social-media {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #0DCAF0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about__social-media svg {
  display: block;
  width: 50%;
  height: 100%;
  font-size: 20px !important;
  background-color: #0DCAF0;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  color: #fff;
  transition: all 1s;
}

.about__social-media svg:hover {
  background-color: #083d77;
}

.about__description h1 {
  color: #000;
}

.about__description h2 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #000;
  font-weight: 600;
  font-size: 18px;
}

.about__description p {
  color: #000;
  text-align: justify;
  padding: 0 15px;
}

/* MODALS */

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border: 2px solid #0DCAF0;
  border-radius: 10px;
  padding: 20px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.modal-body {
  font-size: 18px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.modal-footer button {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #0DCAF0;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.modal-footer button:hover {
  background-color: #008ba3;
}

/* Tablet View */

@media only screen and (min-width: 480px) {
  .image__story {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .Typewriter {
    margin-left: 50px;
    min-width: 300px;
    min-height: 350px;
  }

  .review__text {
    padding: 15px 115px 32px 115px;
  }
}

/* Desktop View */

@media only screen and (min-width: 1000px) {
  .create__intro-text {
    margin-left: 125px;
    margin-right: 125px;
    text-align: center;
  }
  .create__option-button {
    min-width: 50vw;
    max-width: 50vw;
  }

  .image__story,
  .review__story {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .Typewriter {
    min-width: 400px;
    height: 50vh;
    font-size: 1.3em;
  }

  .create__image,
  .review__image {
    height: 400px;
    margin-top: 40px;
  }

  .review__text {
    padding: 25px 25px 30px 25px;
    width: 400px;
    height: 50vh;
    margin: 10px 15px;
  }
}
