@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

#root {
  min-width: 100vw;
  font-family: 'Cormorant Garamond', serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: whitesmoke;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

p,
label,
button {
  font-size: 1.5em;
}

/* NAVBAR */
.navbar__item {
  font-size: 1.4em;
  padding: 10px 15px;
}

/* HOME */
.home__logo {
  width: 85vw;
  max-width: 350px;
  margin: 80px auto;
  scale: 1.3;
  place-items: center;
}

.home__create-button {
  font-weight: 800;
  font-size: 1.7em;
}

.home__create-button:hover {
  opacity: 0.9;
  border: 1px solid grey;
}

/* CREATE */
.create__image {
  height: 300px;
  margin: 40px auto;
}

.create__name-input {
  margin: 5px auto 10px auto;
  text-align: center;
}

.create__options-list {
  list-style-type: none;
  text-align: left;
  display: inline-block;
}

.create__button {
  margin: 10px 20px;
}

.create__options-list > li > label {
  margin-left: 10px;
}

.create__options-list {
  padding-left: 0;;
}

.create__intro-text {
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  overflow: auto;
}

.story_text {
  height: 30vh;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  overflow: auto;
}

.create__option-button {
  min-width: 300px;
  margin: 5px auto;
}

.create__option-button:hover {
  min-width: 300px;
  margin: 5px auto;
  background-color: lightgray;
}

.create__option-button-selected {
  opacity: 0.9;
  border: 1px solid grey;
  background-color: lightgray;
}


/* TYPEWRITER */

.Typewriter {
  text-align: left;
}

.Typewriter__cursor {
  display: none;
}


/* REVIEW */

.review__story-title {
  font-size: 2em;
}

.review__storyText {
  padding: 15px 15px 30px 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: left;
  height: 30vh;
  overflow: auto;
}

.review__storyImage {
  width: 85vw;
  max-width: 350px;
  margin-top: 25px;
  place-items: center;
}

.review__carousel--arrow {
  height: 40px;
}

@supports (transition: all 0.2s ease-in-out) and (transform: scale(1.02)) {
  .review__carousel--arrow {
    transition: all 0.2s ease-in-out;
  }

  .review__carousel--arrow:hover {
    transform: scale(1.05);
  }
}

/* LOADING */
.loading__container {
  padding: 15px;
}

.loading__icon {
  margin: 20px;
  height: 25px;
  width: 25px;
}

/* Tablet View */

@media only screen and (min-width: 480px) {
  
  
}

/* Desktop View */

@media only screen and (min-width: 1000px) {
  .create__intro-text {
    margin-left: 125px;
    margin-right: 125px;
    text-align: left;
  }
}
